body {
    color: white;
    background: black;
    margin: 0px;
    font-family: "Chakra Petch", sans-serif;
    margin-bottom: 100px;
  }

header{
    border-bottom: solid 2px white;
    padding: 10px;
    font-size: 31px;
}

section{
    background: rgb(175,5,5,1);
    padding-bottom: 40px;
    padding-top: 40px;
    display: flex;
    justify-content: center;
}


.chamada-texto{
    margin-right: 5%;
}

h1{
    font-size: 40px;
}

p{
    font-size: 20;
}
img{
    height: 200px;
}
.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
  }

  section {
    padding-left: 20px;
    padding-right: 20px;
  }


  .categoria-videos img {
    opacity: 0.5;
    height: 200px
}

.categoria-videos img:hover {
    opacity: 1.0;
    border: 1px solid green;
}


.categoria-videos img:hover {
    opacity: 1.0;
}

.categoria h2 {
    color: rgb(42, 122, 228);
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
  }